In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#fetching dataframe + adding missing header
df = pd.read_csv(r"C:\Users\utilisateur\Desktop\Briefs\03.Python\marathon.txt",
                  sep="\t",
                  names=['Ville', 'Annee', 'Temps', 'Secondes', 'EstPARIS', 'EstBERLIN'])

In [ ]:
paris = []
berlin = []
# filling EstPARIS and EstBERLIN
for i in (df["Ville"]):
    if i == "PARIS":
        paris.append(1)
    else:
        paris.append(0)
    if i == "BERLIN":
        berlin.append(1)
    else:
        berlin.append(0)
df["EstPARIS"] = paris
df["EstBERLIN"] = berlin

In [ ]:
print(df)

In [ ]:
# setting X and Y as in (Y = a0X0 + a1X1 + a2X2)
X = df[["Annee", "EstPARIS", "EstBERLIN"]].to_numpy()
Y = df["Secondes"].to_numpy()

In [ ]:
# Y = aX <=> a = (Xt . X)^-1 . Xt . Y
a = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(Y)

In [ ]:
print('a0, a1, a2:\n', a)